<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Scrape that Hacker News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="span8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>User</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <% @models.each do | model | %>
            <tr>
                <td><%= model.name %></td>
                <td><%= model.url %></td>
                <td><%= model.user %></td>
                <td><%= model.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
